<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册界面</title>
     <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/register.css"/>

</head>

<body>
<div id="div_register">
    <a id="a_login" href="login.html">HAVE A ACCOUNT ? log in now</a>
</div>
<p id="p_name">
    OLD SHEN's BRUSH
</p>
<div id="register_frame">



    <form method="post" action="register.js">

        <p><input type="text" placeholder="username" id="re_username" /></p>
        <p><input type="password" placeholder="key" id="re_password" /></p>
        <p><input type="paaword" placeholder="confirm password" id="re_passwordagain"></p>
        <p><input type="email" placeholder="email" id="re_email"/></p>
        <div id="register_control">
            <input type="button" id="btn_register" value="register " onclick="login();"/>
            <br/>
            <br/>
        </div>
    </form>

</div>

<div id="webName">
    <p id="ourname">
        @OLD SHEN AND HER LADIES,THANKS FOR YOUR USING
    </p>

</div>


</body>
</html>
